<div class="row container mx-auto ">
    <div class="col-md-3 ">
    </div>
    <form onsubmit="nucleo.solicitarCupon(rut.value); return false" class="col-md-6 card fondo-teclado" style="width:50%; position: relative; top:-100px;">
      <div class="row">
          <div class="col-12" style="text-align:center;">
  
             <h3 style="color:white; text-align:center;">Generador de Cupones</h3>
          </div>
        <div class="col-12">
  
            <input disabled type="text" id="rut" class="form-control cajatexto"  style="text-align:center;"placeholder="Digite su rut..." required
              >
            <br>
        </div>
      </div>
      <div class="row mx-auto ">
        <!-- Inicio fila-->
        <div class="col-4 ">
          <button class="btn btn-info boton " type="button" onclick="puntuarInput('1' ,'rut','')">1</button>
          <br>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('2' ,'rut')">2</button>
          <br>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('3' ,'rut')">3</button>

          <br>
        </div>

        <!-- Final fila-->
        <!-- Inicio fila-->
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('4' ,'rut')">4</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('5' ,'rut')">5</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('6' ,'rut')">6</button>
        </div>

        <!-- Final fila-->


        <!-- Inicio fila-->
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('7' ,'rut')">7</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('8' ,'rut')">8</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('9' ,'rut')">9</button>
        </div>
        <!-- Final fila-->


        <!-- Inicio fila-->
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('k' ,'rut')">K</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('0' ,'rut')">0</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-danger boton" type="button" onclick="borrar()">
            X</button> </div> <!-- Final fila-->
        <div class="col-4 ">

        </div>
        <div class="col-4 ">
          <button class="btn btn-success boton" type="submit" id="boton"> OK</button>
        </div>
   
      </div>
    </form>

  
    <div class="col-md-3">

    </div>
  
  </div>

  <div class="modal fade" id="modalMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Menú</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           <div class="row">
             
             <div class="col-4">
              <button class="btn btn-danger" onclick="nucleo.cerrarDia()"style="width:120px; height:100px;"><p>X</p><i class="fas fa-print"></i></button>
             </div>
           </div>
          </div>
          <div class="modal-footer">
        
          
          </div>
        </div>
      </div>
    </div>