<style>

</style>

<div class="container-fluid">
    <div class="container-fluid fondoDos" style="top:100px;  height:950px; position: relative;">
        <div class="row" style="top:150px; position:relative;">
            <div class="col-md-6 offset-md-3 center  animated infinite pulse delay-2s  casino  "
                style="text-align:center;">
                <span class="siete animated infinite bounce "
                    style="text-align:center; color: rgba(234, 252, 0, 0.9);">Chama Club</span>
            </div>
        </div>
        <div class="row" style="top:150px; position:relative; font-size:150%;">
            <div class="col-md-12 animated infinite  delay-2s  casino text-white"
                style="text-align:center; color: rgba(234, 252, 0, 0.9);">
                <span class="Encabezado " id="encabeza">Sorteando Ganador</span>
            </div>
        </div>

        <div class="row" id="rutWin" style="top:150px; position:relative;">
            <div class="col-md-6 offset-md-3   animated infinite pulse text-white"
                style="text-align:center; color: rgba(234, 252, 0, 0.9); font-size:150%;">
                <span class="doble animated infinite bounce delay-2s" id="num11"> </span>
            </div>

        </div>

        <div class="row" style="top:150px; position:relative;">
            <div class="col-md-12 animated infinite pulse  casino text-white"
                style="text-align:center; color: rgba(234, 252, 0, 0.9); font-size:150%; ">
                <span class="medio " id="nombreGanador"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 animated infinite bounce delay-2s  text-white"
                style="text-align:center; color: rgba(234, 252, 0, 0.9); top:130px; position:relative;">
                <span class="siete " style="text-align:center; color: rgba(234, 252, 0, 0.9);"
                    id="premioSorteo">0</span>
            </div>
        </div>
    </div>
    <script>


        rutt = ""
        mostrarGanador = () => {

            //se oculta el vid del rut ganador

            $('#nombreGanador').hide();
            nucleo.db.collection("cuponeras").doc("osorno").get().then(function (queryCup) {
                $('#premioSorteo').html(queryCup.data().premio);
                //deespues de 25 segundos se muestra el ganador
                if (queryCup.data().rut == "") {
                    $('#encabeza').html("Todos los Clientes pueden volver a sacar cupon!");
                    console.log("no hay tru")
                    $('#num11').hide(rutt)
                    setTimeout(() => {
                        $('#nombreGanador').html(queryCup.data().nombre);
                        $('#nombreGanador').show();
                    }, 100)
                } else {
                    setTimeout(() => {
                        rutt = queryCup.data().rut
                        rutt = rutt.substring(5, 10)
                        rutt = "XX.XXX." + rutt
                        $('#num11').html(rutt)
                        $('#nombreGanador').html(queryCup.data().nombre);
                        $('#rutGiro').hide();
                        $('#nombreGanador').show();
                    }, 100)
                }

            })
        }

        mostrarGanador();

    </script>

    </html>