<div class="card col-md-4 offset-md-4 col-12 ">
    <article class="card-body">
    
    <h4 class="card-title mb-4 mt-1">Iniciar Cuponera</h4>
       <form onsubmit="nucleo.iniciarJornada(); return false">

    
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block"> Iniciar  </button>
        </div> <!-- form-group// -->                                                           
    </form>
    </article>
    </div> <!-- card.// -->


    <!--

        se debe generar una ventana modal
        la cual se abre presionando varias vecesa la letra K la cual permite 
        abrir un menu para 
        cerrar
        imprimir
        buscar turnos por fecha y local
    
    
    -->
    