<div class="container">


<div class="row " style="margin-top:100px;" >
    
    <div class="col-12   card"  id="tabla1"style="background-color:rgba(65, 55, 55, 0.8); width:80%;">
        <div class="">
            <table class="table " style="color:white;">
                <thead>
                    <tr>
                        <th colspan="4" class="casino" style="text-align:center; font-size:350%;">Sorteos</th>
                   <th colspan="2" style="font-size:350%;"><span id="horaAct1"></span> </th>
                        <tr>
                        <th>N°</th>
                        <th>Premio</th>
                        <th>Nombre</th>
                        <th>Rut</th>
                        <th>Hora</th>
                        <th>Estado</th>
                    </tr>

                </thead>

                <tbody id="cuerpoSorteos1">

                </tbody>

            </table>
        </div>
    </div>
    <div class="col-12    card"  id="tabla2" style="background-color:rgba(65, 55, 55, 0.8); width:80%;">
        <div class="">
            <table class="table " style="color:white;">
                <thead>
                    <tr>
                        <th colspan="4" class="casino" style="text-align:center; font-size:350%;">Sorteos</th>
                   <th colspan="2" style="font-size:350%;"><span id="horaAct2"></span> </th>
                        <tr>
                        <th>N°</th>
                        <th>Premio</th>
                        <th>Nombre</th>
                        <th>Rut</th>
                        <th>Hora</th>
                        <th>Estado</th>
                    </tr>

                </thead>

                <tbody id="cuerpoSorteos2">

                </tbody>

            </table>
        </div>
    </div>
    <div class="col-12  card"  id="tabla3" style="background-color:rgba(65, 55, 55, 0.8); width:80%;">
        <div class="">
            <table class="table " style="color:white;">
                <thead>
                    <tr>
                        <th colspan="4" class="casino" style="text-align:center; font-size:350%;">Sorteos</th>
                   <th colspan="2" style="font-size:350%;"><span id="horaAct3"></span> </th>
                        <tr>
                        <th>N°</th>
                        <th>Premio</th>
                        <th>Nombre</th>
                        <th>Rut</th>
                        <th>Hora</th>
                        <th>Estado</th>
                    </tr>

                </thead>

                <tbody id="cuerpoSorteos3">

                </tbody>

            </table>
        </div>
    </div>
    <div class="col-12   card" id="tabla4" style="background-color:rgba(65, 55, 55, 0.8); width:80%;">
        <div class="">
            <table class="table " style="color:white;">
                <thead>
                    <tr>
                        <th colspan="4" class="casino" style="text-align:center; font-size:350%;">Sorteos</th>
                   <th colspan="2" style="font-size:350%;"><span id="horaAct4"></span> </th>
                        <tr>
                        <th>N°</th>
                        <th>Premio</th>
                        <th>Nombre</th>
                        <th>Rut</th>
                        <th>Hora</th>
                        <th>Estado</th>
                    </tr>

                </thead>

                <tbody id="cuerpoSorteos4">

                </tbody>

            </table>
        </div>
    </div>
</div>




</div>

<script>

    $(document).ready(function () {
        nucleo.controlVentana
        nucleo.cargarSorteos();
        $('#horaAct').html(obtenerHora())
    })

 
</script>