<div class="row container mx-auto ">
    <div class="col-md-3 ">
    </div>
    <form onsubmit="nucleo.validandoSorteo(rut.value); return false" class="  col-md-6 card fondo-teclado2" style="width:50%; top:-100px;position: relative;">
      <div class="row">
            <div class="col-12 mx-auto " style="text-align:center;">
                
                <h1 style="color:white; text-align:center;" class="animated infinite pulse">Validando Ganador</h1>
                    </div>
        <div class="col-12">
  
            <input disabled type="text" id="rut" class="form-control cajatexto" placeholder="Para cobrar, digite su rut" required
              >
            <br>
        </div>
      </div>
      <div class="row mx-auto ">
        <!-- Inicio fila-->
        <div class="col-4 ">
          <button class="btn btn-info boton " type="button" onclick="puntuarInput('1' ,'rut','')">1</button>
          <br>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('2' ,'rut')">2</button>
          <br>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('3' ,'rut')">3</button>

          <br>
        </div>

        <!-- Final fila-->
        <!-- Inicio fila-->
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('4' ,'rut')">4</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('5' ,'rut')">5</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('6' ,'rut')">6</button>
        </div>

        <!-- Final fila-->


        <!-- Inicio fila-->
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('7' ,'rut')">7</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('8' ,'rut')">8</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('9' ,'rut')">9</button>
        </div>
        <!-- Final fila-->


        <!-- Inicio fila-->
        <div class="col-4 ">
          <button class="btn btn-warning boton" type="button" onclick="puntuarInput('k' ,'rut')">K</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-info boton" type="button" onclick="puntuarInput('0' ,'rut')">0</button>
        </div>
        <div class="col-4 ">
          <button class="btn btn-danger boton" type="button" onclick="borrar()">
            X</button> </div> <!-- Final fila-->
        <div class="col-4 ">

        </div>
        <div class="col-4 ">
          <button class="btn btn-success boton" type="submit" id="botonCobrar"> OK</button>
        </div>
   
      </div>
  
    </form>

  
    <div class="col-md-3">

    </div>
  
  </div>
  <div id="divGanadorSorteo" hidden style="font-size:130%;">
    <table>
      <thead>
        <tr>
          <td style="text-align: left;" id="horaGanador"> </td>
          <td style="text-align: right;" id="fechaGanador"> </td>
        </tr>
          <tr>
          <td colspan="2" style="text-align:center; font-size:150%; font-weight: 700;">ChamaClub Chile</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align:left;  border:solid 1px; ">Nombre</td>
          <td style="text-align:left; border:solid 1px; " id="nombreGanador"></td>
        </tr>
        <tr>
          <td style="text-align:left; border:solid 1px; ">Rut</td>
          <td id="rutGanador" style="border:solid 1px; "></td>
        </tr>
        <tr>
          <td style="text-align: center;" colspan="2" style="border:solid 1px;"> <span id="montoGanador"
              style="font-weight: 700; font-size:150%;">
            </span></td>
        </tr>
        <tr>
          <td colspan="2" style="text-align:center; font-size: 110%;">Felicidades!
          </td>
        </tr>
     


      </tbody>
    </table>
  </div>
  <script>
  


  </script>